body{
  padding-bottom: 1000px;
}
.shirt-img{
  height: 300px;
  width:300px;
  object-fit: cover;
}
.img-container{
  height: 300px;
  width: 300px;
  position: relative;
  padding: 0px 0px;
  z-index: 1;
}
.discount-container {
  position: absolute;
  font-family: arial;
  background-color: black;
  color:white;
  font-size: 14px;
  padding:5px 10px;
  top:10px;
  right:0px;
}
.button-container{
  position: absolute;
  background-color: rgb(237, 234, 234);
  height: 100px;
  width:300px;
  bottom:0px;
  opacity: 0.8;
  display: flex;
  justify-content: center;
  align-items: center;
}
.add-button{
  opacity: 1;
  border-style: solid;
  background-color: white;
  border-width: 2px;
  font-weight: bold;
  padding: 10px 12px;
  cursor: pointer;
}