div{
  font-family: arial;
}

.profile-picture-column{
  height: 50px;
  width:50px;
  margin-right:15px;
}

.profile-picture{
  height: 50px;
  width:50px;
  object-fit:cover;
  border-radius: 50%;
  cursor: pointer;
}

.tweet{
  display: flex;
  flex-direction: row;
  width:420px;
}

.tweet-header{
  display: flex;
  flex-direction: row;
  cursor: pointer;
}

.tweet-column{
  flex:1;
}

.tweet-header{
  margin-bottom: 6px;
}

.tweet-author{
  font-weight: bold;
  margin-right:5px;
}

.tweet-author-handle{
  color:rgb(111,111,111);
}

.tweet-content{
  line-height: 20px;
}

.video-preview{
  display: flex;
  flex-direction: row;
  border-style: solid;
  margin-top:20px;
  border-width: 1px;
  border-color: rgb(200,200,200);
  border-radius: 15px;
  overflow:hidden;
  align-items: center;
}

.thumbnail-column{
  width:125px;
  height:100px;
  background-color:rgb(200,200,200) ;
  cursor: pointer;
}

.video-info-column{
  padding-left:15px;
  cursor: pointer;
}

.video-website{
  color:rgb(111,111,111);
  margin-bottom: 5px;
}
.video-title{
  line-height: 20px;
}