.sidebar{
  position:fixed;
  left: 0;
  bottom: 0;
  top:57px;
  width: 60px;
  background-color: white;
  /* height:30px; */
  width: 76px;
  z-index: 200;
  padding-top: 0px;
  cursor: pointer;
}
.sidebar-link{
  height: 76px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.sidebar-link:hover{
  background-color: rgb(233, 233, 233);
}
.sidebar-link img{
  height:25px;
  margin-bottom: 5px;
}
.sidebar-link div{
  font-size: 10px;
  font-family: roboto,arial;
  cursor: pointer;
}